<% if @user.tweets.count != 0 %>
    <div class="main">
        <% @user.tweets.each do |tweet| %>
            <%= link_to tweet_path(tweet) do %>
                <div class="card tweet">
                    <div class="d-flex">
                        <p class="pict">
                            <%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60" %>
                        </p>
                        <p class="name"><%= @user.name %></p>
                    </div>
                    <p class="card-body context"><%= tweet.context %></p>
                </div>
            <% end %>
        <% end %>
    </div>
<% else %>
    <div class="no-tweet">
        <p>投稿してみよう</p>
    </div>
<% end %>
<div class="side">
    <div>
        <p class="pict">
            <%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg", size: "60x60" %>
        </p>
        <p class="name"><%= @user.name %></p>
        <p class="card-body context"><%= @user.introduction %></p>
    </div>
</div>